<p>Total Income Amount {{icomeAmount}} </p>
<h1 *ngIf="expensesList.length !=0">Expenses Details</h1>
<table *ngIf="expensesList.length !=0">
    <tr>
      <th>Expenses Details</th>
      <th>ExpensesAmount</th>
    </tr>
    <tr *ngFor="let iteam of expensesList; let i = index">
      <td>{{iteam.expensesDetails}}</td>
      <td>{{iteam.expensesAmount}}</td>
    </tr>
    <tr *ngIf="expensesAmount !=0">
      <td>
        <b>Total</b>
      </td>
      <td>
        <b>{{expensesAmount}}</b>
      </td>
    </tr>
  </table>
  <p>Total Income Amount - Total Expenses Amount {{icomeAmount - expensesAmount}} </p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div><input placeholder="ExpensesAmount" type="number" formControlName="addIncome"></div>    
    <button type="submit">Add Income</button>
</form>
<app-child></app-child>


